{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}

{% block body %}

    <section class="first-section-wm mb-4">
        <!-- Form login -->
        <form method="post" class="text-center white-text border border-light p-5">
            {% if error %}
                <aside class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</aside>
            {% endif %}
            <h1 class="font-weight-bold orange-text-wm mb-4">Sign in</h1>

            <!-- Email -->
            <input type="email" class="form-control mb-4" placeholder="E-mail">

            <!-- Password -->
            <input type="password" class="form-control mb-4" placeholder="Password">

            <div class="d-flex justify-content-around">
                <div>
                    <!-- Remember me -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                        <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                    </div>
                </div>
                <div>
                    <!-- Forgot password -->
                    <a href="">Forgot password?</a>
                </div>
            </div>

            <!-- Sign in button -->
            <button class="btn btn-wm btn-block my-4" type="submit">Sign in</button>

            <!-- Register -->
            <p>Not a member?
                <a href="">Register</a>
            </p>

            <!-- Social login -->
            <p>or sign in with:</p>

            <!-- Facebook -->
            <a><i class="fab fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a>

            <!-- Google +-->
            <a><i class="fab fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a>

        </form>
        <!-- Form login -->
    </section>

{% endblock %}
