
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
/config/packages/doctrine.yaml
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
