{% extends 'base.html.twig' %}
{% block title %}Exercise{% endblock %}

{% block body %}
    <section class="card">
        <article class="view" >
            <img src="https://mdbootstrap.com/img/Photos/Others/nature-sm.jpg" class="img-fluid" alt="">
            <aside class="mask d-flex align-items-end rgba-black-light">
                <div class="ml-4 white-text">
                    <h2 class="font-weight-bold">
                        {{ exercise.exercise }}
                    </h2>
                    <p>Difficulty :
                        <span class="ml-2">
                        <i class="fa fa-circle orange-text-wm"></i>
                        <i class="far fa-circle orange-text-wm"></i>
                        <i class="far fa-circle orange-text-wm"></i>
                    </span></p>
                </div>
            </aside>
        </article>

        <article class="card-body elegant-color white-text">
            <h3 class="mb-3">Description</h3>
            <p><a class="btn-filter-wm btn-outline-wm"></a></p>
            <p class="mb-0">{{ exercise.description }}</p>
        </article>
        <!-- /Workout section -->
    </section>

{% endblock %}



