{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css"></style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
{% endblock %}

{% block body %}
    <article class="white-text">
        <h1>Create an exercise</h1>
        {{ include('admin/exercise/_form.html.twig', {
            button_text: 'Creat'
        }) }}
    </article>
{% endblock %}

